.modal-dialog {
  @include media-breakpoint-down(lg) {
    max-width: calc(100% - #{$spacer * 2});
  }
}

.modal-backdrop.fade.show {
  opacity: 0.5;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.modal-body {
  @include media-breakpoint-down(sm) {
    > .bg-primary.rounded-circle {
      background-color: $dark !important;
    }
  }
}
