.position-fixed {
  z-index: $zindex-toast;

  &.start-0 {
    transform: rotate(90deg) translateY(-100%);
    transform-origin: 0% 0%;
  }

  &.start-100 {
    transform: rotate(-90deg) translateX(-50%) translateY(-100%);
    transform-origin: 0% 0%;
  }
}
